[Unit]
Description=Simple, no-fuss NAT64
After=network.target

[Service]
# To set up an extra tayga service instance, create a new tayga config in
# /etc/tayga/instancename.conf. Then enable this config as a systemd alias
#
# systemctl enable tayga@instancename.service

Type=simple
PrivateTmp=true
ExecStart=/usr/sbin/tayga -d --config /etc/tayga/%i.conf

[Install]
WantedBy=multi-user.target
