[Unit]
Description=Simple, no-fuss NAT64
After=network.target

[Service]
Type=simple
PrivateTmp=true
ExecStart=/usr/sbin/tayga -d --config /etc/tayga.conf

[Install]
WantedBy=multi-user.target
