Source: tayga
Section: net
Priority: optional
Maintainer: Debian Networking Team <team+networking@tracker.debian.org>
Uploaders:
 Andrej Shadura <andrewsh@debian.org>,
 Daniel Gröber <dxld@darkboxed.org>,
Build-Depends:
 debhelper-compat (= 13),
 pkgconf,
 systemd-dev,
Standards-Version: 4.7.2
Vcs-Browser: https://salsa.debian.org/debian/tayga
Homepage: http://www.litech.org/tayga/
Vcs-Git: https://salsa.debian.org/debian/tayga.git
Rules-Requires-Root: no
Description: Simple, no-fuss userspace IPv6-IPv4 translator
 TAYGA is a userspace IP/ICMP translator implemented using a virtual (TUN)
 device. It can be configured to act as a stateless IP/ICMP translator
 (SIIT, RFC 6145) with Explicit Address Mapping (EAM, RFC 7757) or a
 stateful NAT64 (RFC 6146).
 .
 As such it's useful as part of a 464XLAT (RFC 6146), IPv6-only or
 IPv6-mostly network architecture.

Package: tayga-core
Architecture: linux-any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: ${source:Synopsis} - core
 ${source:Extended-Description}
 .
 This package contains TAYGA's files and binaries - no system service.

Package: tayga
Architecture: linux-any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 tayga-core,
 ${misc:Depends},
Recommends:
 iptables,
Description: ${source:Synopsis} - NAT64 service
 ${source:Extended-Description}
 .
 This package configures TAYGA to act as a stateful NAT64 aka provider side
 PLAT service. It uses an nftables MASQUERADE rule to allow reaching the
 IPv4 internet.
 .
 For a client side translator (CLAT) service refer to the `clatd' Debian
 package.
