Source: tayga
Section: net
Priority: optional
Maintainer: Andrew Shadura <andrewsh@debian.org>
Uploaders: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf
Standards-Version: 3.9.4
Vcs-Browser: https://salsa.debian.org/debian/tayga
Homepage: http://www.litech.org/tayga/
Vcs-Git: https://salsa.debian.org/debian/tayga.git

Package: tayga
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: userspace stateless NAT64
 TAYGA is an out-of-kernel stateless NAT64 implementation for Linux
 that uses the TUN driver to exchange IPv4 and IPv6 packets with
 the kernel. It is intended to provide production-quality NAT64
 service for networks where dedicated NAT64 hardware would be
 overkill. TAYGA needs no kernel patches or out-of-tree
 modules, and it is compatible with all 2.4 and 2.6 kernels.
